header {
  display: flex;
  background-color: #283e4a;
  padding: 0 50px;

  a {
    padding: 20px 10px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      text-decoration: none;
      color: white;
      background-color: #304b59;
    }
  }
}
